dist: xenial
language: node_js
node_js:
  - stable
cache:
  directories:
    - node_modules
before_install:
  - ls -l
  - cd src/ && cd store/
  - ls -l
  - cd src/store/db && touch ci.db
install:
  - npm install
  - npm run prisma:generate --env=test
  - cd src/store/
  - npm run prisma:migrate:save --env=test --name=test_init
  - cd .. && cd ..
