os: linux
language: node_js
node_js:
  - '12'
install:
  - npm install
  - npm run prisma:generate:ci
  - cd src/store/
  - npm run prisma:migrate:ci:save
  - cd .. && cd ..
script:
  - npm run test:ci
cache:
  directories:
    - node_modules
