dist: xenial
language: node_js
node_js:
  - stable
cache:
  directories:
    - node_modules
before_install:
  - cd src/store/ && mkdir db && cd db/ && touch ci.db
  - cd .. && cd .. && cd ..
install:
  - npm install
  - npm run prisma:generate --env=test
  - cd src/store/
  - npm run prisma:migrate:save --env=test --name=test_init
  - cd .. && cd ..
